body {
    background-image: url('star.jpg');
    background-size: cover;
    font-family: 'Segoe UI';
    color: wheat;
}

.content {
    text-align: center;
    max-width: 850px;
    margin: auto;
    padding: 30px;
    background: rgb(40, 26, 10);
    border-radius: 20px;
}


h1 {
    font-size: 3rem;
    color: #ffc107;
    margin-bottom: 15px;
}


h2 {
    font-size: 2rem;
    color: #ffdd57;
    margin-bottom: 10px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-content img {
    height: 150px;
    border-radius: 8px;
}


.image-gallery {
    margin: 30px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #555;
    color: #f0f0f0;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}



a {
    color: #ff8800;
}


.info
{
   color: black;
   background-color: #f0f0f0;
   border-radius: 5px;
}